* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Login_Container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.LoginmainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    font: normal normal medium 25px/33px Roboto;

}

.loginContainer {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9D9D9D;
    /* background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.21; */
    font: normal normal medium 25px/33px Roboto;

}

.section {
    width: 727px;
    height: 425px;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    /* margin-top: 166px; */
    font: normal normal medium 25px/33px Roboto;
}

.imgsection {
    width: 624px;
    height: 391px;
    /* border: 2px solid green; */
    margin-top: 17px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;

}

.imgs {
    width: 245px;
    height: 245px;
    /* border: 2px solid pink; */
    margin-top: 52px;
    margin-left: 53px;
    /* background-image: url("../assests/onlinebookshopping.png"); */
}

.imgs img {
    width: 243px;
    height: 243px;
    border-radius: 150px;
}

.imgs h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 31px;
    width: 209;
    height: 34;
    margin-left: 30px;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: uppercase;
    opacity: 1;
    font-size: 14px;
}

.logincard {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    width: 389px;
    height: 425px;
    border: 2px solid black;
    position: absolute;
    margin-left: 335px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
}

.lgnbtns {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    /* font : Roboto, Medium; */
}

.loginbtn {
    width: 72px;
    height: 33px;
    margin-left: 55px;
    /* font: normal normal medium 25px/33px Roboto; */
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: uppercase;
    opacity: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
}

.signinbtn {
    width: 89px;
    height: 33px;
    margin-left: 82px;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #878787;
    text-transform: uppercase;
    opacity: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
}

.inputfeilds {
    margin-top: 30px;
    /* border: 2px solid greenyellow; */
    margin-left: 69px;
}

.emailid {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100px;
    height: 20px;
    /* font: normal normal normal 10px/13px Roboto; */
    color: #0A0102;
    opacity: 1;
}

.emailinput {
    width: 252px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}

.paswd {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100px;
    height: 20px;
    /* font: normal normal normal 10px/13px Roboto; */
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}

.pawdinput {
    width: 252px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}

.frgtpswd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3px;
    margin-left: 180px;
    width: 81px;
    height: 13px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;

}

.lgnbtn {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 257px;
    height: 37px;
    border: none;
    outline: none;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 9px 104px;
}

.or {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 22px;
    height: 18px;
    font: normal normal bold 14px/18px Meiryo UI;
    letter-spacing: 0px;
    color: #343434;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 113px;
}

.googlebtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 69px;

}

.google {
    width: 126px;
    height: 37px;
    background: #4266B2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    opacity: 1;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.facebook {
    margin-left: 7px;
    width: 119px;
    height: 37;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    opacity: 1;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

#outlined-basic {
    width: 230px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    /* margin-left: 0px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}

/* @media only screen and (min-width : 280px ) and (max-width : 320px ){
    .LoginmainContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    
    }
    .loginContainer{
        width: 100%;
        height: 100%;
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background-color: #9D9D9D;
    }
    .section{
        display: none;
    }
  
    
} */

.logincardM {
    width: 370px;
    height: 425px;
    border: 2px solid black;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;

}