* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LoginmainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    font: normal normal medium 25px/33px Roboto;
}

.loginContainer {
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9D9D9D;
    font: normal normal medium 25px/33px Roboto;

}

.section {
    width: 727px;
    height: 425px;
    display: flex;
    flex-direction: row;
    font: normal normal medium 25px/33px Roboto;
}

.imgsection {
    width: 624px;
    height: 391px;
    margin-top: 17px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;

}

.imgs {
    width: 245px;
    height: 245px;
    margin-top: 52px;
    margin-left: 53px;
}

.imgs img {
    width: 243px;
    height: 243px;
    border-radius: 150px;
}

.imgs h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 31px;
    width: 209;
    height: 34;
    margin-left: 30px;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    font-size: 14px;
}

.logincard {
    width: 389px;
    height: 425px;
    border: 2px solid black;
    position: absolute;
    margin-left: 335px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
}

.lgnbtns {
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.registerButton {
    width: 72px;
    height: 33px;
    margin-left: 55px;
    color: #878787;
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
}

.signinbtn {
    width: 89px;
    height: 33px;
    margin-left: 82px;
    font: normal normal medium 25px/33px Roboto;
    color: #0A0102;
    border: none;
    font-size: 13px;
    font-weight: 600;
}

.inputfeilds {
    margin-top: 30px;
    margin-left: 69px;
}
.registerInput {
    width: 252px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}

.registerLabel {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100px;
    height: 18px;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}

.frgtpswd {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3px;
    margin-left: 180px;
    width: 81px;
    height: 13px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}

.Registerbtn {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 257px;
    height: 37px;
    border: none;
    outline: none;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    font: normal normal normal 15px/20px Roboto;
    color: #FFFFFF;
    padding: 9px 104px;
}
#outlined-basic {
    width: 230px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    /* margin-left: 0px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    opacity: 1;
}