.cartlist{
    margin:8rem 0 0 10rem;

}

.getcartpage {
    display: flex;
    flex-direction: column;
    width: 774px;
    min-height: 40vh;
    max-height: 900vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1px;
    margin-bottom: 20px;
}

.mycart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.mycarth3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 85px;
    height: 22px;
    margin-left: 36px;
    margin-top: 18px;
    font: normal normal medium 18px/22px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    /* opacity: 1; */
    /* border: 2px solid pink; */

}

.selectLocation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    width: 220px;
    height: 40px;
    margin-left: 351px;
    margin-top: 18px;
    border: 1px solid #DCDCDC;
}

.selectLocation img {
    width: 20px;
    height: 20px;
    background: transparent;
    margin-top: 13px;
}

.currnth {
    margin-top: 13px;
    margin-left: 5px;
}

.Addressdetais {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 774px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 36px;
    margin-top: 21px;
    width: 102px;
    height: 18px;
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0px;
    color: #333232;

}

.ordersummary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 774px;
    min-height: 60px;
    max-height: 237px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    margin-top: 15px;
}

.ordersum {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 36px;
    margin-top: 21px;
    width: 102px;
    height: 18px;
    font: normal normal normal 15px/18px Lato;
    letter-spacing: 0px;
    color: #333232;

}

.switchorder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    margin-top: 17px;
    margin-left: 0px !important;
}

.checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 160px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-left: 584px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    color: #FFFFFF;
    align-items: center;

}
.PlaceOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 160px;
    height: 35px;
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px;
    margin-left: 584px;
    outline: none;
    border: none;
    color: #FFFFFF;
    align-items: center;
    margin-top:8rem;

}