.footerComponent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:9vh;
    background-color: #A03037;
    margin-top: 80vh;
}